@page
@model WebApp.Pages.CreateTodoModel
@{
}

<h1>Create a new ToDo</h1>

<form method="post">
    <table>
        <tr>
            <td>Enter Title: </td>
            <td><input type="text" name="Title"/></td>
        </tr>
        <tr>
            <td>Enter Description: </td>
            <td><input type="text" name="Description"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" asp-page-handler="Submit"/></td>
        </tr>
    </table>
</form>